<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".verify"
            android:exported="false" />
        <activity
            android:name=".reset"
            android:exported="false" />
        <activity
            android:name=".My_profile"
            android:exported="true" />
        <activity
            android:name=".name.custom"
            android:exported="false" />
        <activity
            android:name=".How_it_work"
            android:exported="true" />
        <activity
            android:name=".Abouts_us"
            android:exported="false" />
        <activity
            android:name=".Subscripion"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Changepass"
            android:exported="false" />
        <activity
            android:name=".Forgetpass"
            android:exported="false"
            android:label="@string/title_activity_forgetpass"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".home"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".SlashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>